@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
}
header {
  /* margin-left: 1.25rem; */
  /* margin-top: 2rem; */
  /* border: 2px solid red; */
  display: flex;
  gap: 1.25rem;
  background-color: #fff8f3;
  margin-bottom: 3rem;
}
.devTxt {
  padding: 1.25rem;
  width: 3%;
}
.devTxt img {
  width: auto;
  height: auto;
  max-height: 90vh;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 50rem; */
  /* width: 100%; */
}
nav ul {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}
header nav div h1 {
  font-size: 2.5rem;
}
nav ul li {
  list-style-type: none;
  cursor: pointer;
  color: #474747;
  font-weight: bold;
}
nav ul li button,
.download-btn {
  padding: 1rem 2rem;
  background-color: #fd6e0a;
  color: white;
  border: 0px solid;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
}
header {
  background-image: url("../images/header_bg.png");
  /* background-size: cover; */
  /* border: 2px solid blue; */
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 50% auto;
}
.fig img {
  max-height: 100vh;
  vertical-align: middle;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h3 {
  color: #474747;
  font-size: 4rem;
  margin-bottom: 0.25rem;
}
.banner h2 {
  font-size: 5rem;
  color: #181818;
}
.banner p {
  color: #757575;
  letter-spacing: 1.5px;
}
.banner-btn {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}
.contact-btn {
  padding: 1rem 2rem;
  background-color: transparent;
  color: #fd6e0a;
  border: 1px solid #fd6e0a;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.contact-btn:hover,
.download-btn:hover,
nav ul li button:hover {
  transform: translateY(-3px);
}
.contact-btn:active,
.download-btn:active,
nav ul li button:active {
  transform: translateY(1px);
}

main {
  background-color: #f3f3f3;
  margin-bottom: 3rem;
}
.about-container {
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  margin-bottom: 4rem;
}
.about {
  border: none;
  padding: 6rem 4rem 3rem 4rem;
  background-color: #fff8f3;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about h1 {
  margin-bottom: 1.5rem;
}
.about-txt {
  color: #757575;
  font-size: 1.25rem;
}
.about-info {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  padding: 2rem 4rem;
}
.about-info section {
  margin-right: 2.5rem;
}
.info-title {
  color: #757575;
}
.info-txt {
  font-size: 1.25rem;
  font-weight: bold;
}
.about-info section div {
  text-align: center;
}
.wtd-container {
  /* border: 2px solid rebeccapurple; */
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.wtd-txt {
  /* border: 3px solid red; */
  padding: 3rem;
  margin-bottom: 3rem;
  background-color: white;
}
.wtd-txt h1,
p {
  text-align: center;
}
.wtd-txt h1 {
  margin-bottom: 1.5rem;
}
.wtd-txt p {
  color: #757575;
}
.card-container {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  padding: 1.5rem;
}
.card {
  padding: 3rem 2rem;
  border: none;
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0.4rem 2.5rem 0;
}
.card figure img {
  margin-bottom: 2rem;
}
.card div h2 {
  margin-bottom: 1.25rem;
  color: #181818;
}
.card div p {
  color: #757575;
  text-align: justify;
}
.skill-btn-container {
  background-color: white;
  /* border: 3px solid crimson; */
  border-radius: 0.85rem;
}
.skill-container {
  display: flex;
  gap: 4rem;
  /* border: 4px solid purple; */
  padding: 4rem 4rem 0 4rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.85rem;
}
.resume-container {
  /* border: 3px solid red; */
  padding: 4rem;
  /* background-color: white; */
  /* border-radius: 0.85rem; */
}
.resume-container div {
  /* border: 3px dotted blue; */
  padding: 3rem 2.5rem;
}
.summary-head {
  margin-bottom: 3rem;
  background-color: white;
}

.resume-container div h2 {
  text-align: center;
}
.skill-container div section h3 {
  font-size: 1.85rem;
  color: #474747;
}
.skill-title {
  margin-bottom: 2rem;
}
.skill-test h4 {
  font-size: 1.5rem;
  color: #474747;
  line-height: 1.6;
}
.skill-test h5 {
  font-size: 1.05rem;
  color: #757575;
  margin-bottom: 1.25rem;
}
.skill-test p {
  font-size: 0.85rem;
  color: #757575;
  text-align: justify;
  margin-bottom: 1.5rem;
}
.skill-test hr {
  border-color: #d1d1d1;
  margin-bottom: 2.5rem;
}
.resume-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
